* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, section {
  display: block;
}

body {
    line-height: 1;
}
  
ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

:root{
    --color-primary: #191d2b;
    --color-secondary: #168FFF;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

html {
font-size: 62.5%;
}

body {
    height: 100vh
}

// Home Page

.header {
    height: 15vh;
    font-size: 2.5rem;
    background: var(--color-primary);
    color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    align-content: end;
    padding: 0 1rem;
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: end;
    }
}

main {
    height: 85vh;
    background: url('../componets/main.jpeg');
    background-size: cover;
    color: var(--color-white);
}

// Menu Page

.main.menu {
    font-size: 4rem;
    display: grid;
    // align-content: center;
    justify-content: center;
    .title {
        grid-row-start: 1 / 2;
    }
}